:global(.vtex-login-2-x-content) {
    margin-top: 30px;
    background: #f5f5f5;
    border-radius: 10px;
}
:global(.vtex-login-2-x-formTitle) {
    font-weight: bold;
    text-align: left;
    padding-left: 0;
}
:global(.vtex-login-2-x-label) {
    text-transform: initial;
    text-align: left;
    color: #666;
    font-size: 15px;
    line-height: 16px;
    padding-left: 0px;
    padding-top: 3px;
}
.accessCodeOptionBtn :global(.vtex-button__label){
    font-size: 13px;
}
@media only screen and (max-width: 640px) {
    :global(.vtex-login-2-x-content) {
        margin-bottom: 30px;
    }
}