.container--ficha_tabs{
  max-width: 96rem;
  margin: 0 auto;
}
:global(.vtex-tab-layout-0-x-contentContainer){
  border-top: 1px solid #c4c4c4;
  padding-top: 10px;
 
}
.contentItem{
  padding-left: 1rem;
  padding-right: 1rem;
}
.contentItem :global(.vtex-store-components-3-x-container){
  padding: 0;
}
.listContainer {
  justify-content: left;
}