.itemContainer {
    z-index:999;
}

.sidebarScrim {
    background-color: #3f3f40!important;
    opacity: 0.7!important;
}

:global(.vtex-category-menu-2-x-container) {
    width: 100%;
    justify-content: flex-start;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: transparent;
}

:global(.vtex-category-menu-2-x-section--department) {
    margin: 0 0;
    width: 100%;
    padding: 0 !important;
    justify-content: flex-start;
}

:global(.vtex-category-menu-2-x-section--category) {
    padding: 0;
    padding-top: 2.2rem;
}

.departmentList {
    overflow: visible;
    height: max-content;
    flex-basis: 100%;
    flex-shrink: 0;
    flex-direction: column;
    position: relative;
    padding: 0;
    max-width: 680px;
}

.departmentList::before {
    content: "Departamentos";
    background: #1f201e;
    width: 40%;
    display: block;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding-left: 1rem;
    box-sizing: border-box;
}

:global(.vtex-category-menu-2-x-section--category)::before {
content: "Categorias";
    display: block;
    background-color: #633787;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 2.2rem;
    text-align: left;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    height: 2.2rem;
    width: 100%;
    box-sizing: border-box;
}

.departmentLink {
    margin: 0;
    text-align: left;
    padding: 0.6rem 1rem;
    box-sizing: border-box;
    border-right: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
    line-height: 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;      
}

.itemContainer--department {
    width: 40%;
    background: #fff;
}

.itemContainer--category {
    position: absolute;
    top: 0 !important;
    left: 40%;
    width: 80%;
    z-index: 9999;
    border: none;
    height: 100%;
    min-height: 490px;
}

.itemContainer--category :global(.vtex-store-components-3-x-container) {
    height: 470px;
}


.submenuList {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: repeat(auto-fill,minmax(2em,1fr));
    grid-auto-flow: column;
    justify-content: flex-start;
}

.firstLevelList {
    padding: 0;
}

.firstLevelLink {
    padding: 1rem;
}

.firstLevelLink:hover {
    text-decoration: underline;
}

.departmentLink::after {
    content: "";
    border: solid rgba(0,0,0,0.4);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.departmentLink:hover {
    background-color:#fff;
}