.quantitySelectorContainer {
    margin: 0;
    height: 45px;
}

:global(.vtex-numeric-stepper__input) {
    flex-grow: 1;
    height: 45px;
}

:global(.vtex-numeric-stepper__minus-button), :global(.vtex-numeric-stepper__plus-button) {
    height: 45px;
}