.flexCol--menu-categorias-container {
  background: #fff;
  border-radius: 0.5rem;
}

.flexRowContent--menu-categorias-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.flexCol--menu-categorias-container :global(.vtex-rich-text-0-x-headingLevel2) {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.flexCol--grid-shelf-spotlight {
    background: #fff;
    border-radius: 0.5rem; 
}
:global(.vtex-flex-layout-0-x-flexRow--pg-institucional) :global(.vtex-rich-text-0-x-paragraph){
  text-align: justify;
}
.flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-searchResultContainer)  {
  padding: 0;
}

.flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-gallery) {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin:0;
}

.flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-galleryItem) {
  padding: 0;
  flex-basis: 100% !important;
  max-width: 100% !important;
}

.flexCol--grid-shelf-grid :global(.vtex-product-summary-2-x-container) {
  margin: 0;
  max-width: 100% !important;
}

.flexRow .flexCol--colshelfpromo {
  background: #fff;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
}

.flexCol--colshelfpromo :global(.vtex-product-summary-2-x-container) {
  max-width: 400px!important;
}
.flexCol--colshelf02 :global(.vtex-search-result-3-x-gallery) {
  padding-left: 0;
}
.flexRow--shelfsbottom .flexRowContent {
  flex-wrap: wrap;
  margin-top:1rem;
}
.flexRowContent--shelfvitrine {
  flex-wrap: wrap;
  margin-top:1rem;
}

.flexRow--shelfsbottom .flexCol--shelfsbottom04 {
  margin-top: 2rem;
  height: auto;
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-sliderArrows),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-sliderArrows) {
  background-color: #633787 !important;
  border-radius: 0.5rem;
  padding: 0.6rem 0.8rem;
  box-shadow: -3px 3px 8px 0px rgba(0,27,47,0.20);
}
.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-arrow) {
  background-color: #633787 !important;
  border-radius: 0.5rem;
  padding: 0.5rem 0.7rem;
  box-shadow: -3px 3px 8px 0px rgba(0,27,47,0.20);
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-caretIcon),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-caretIcon),
.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-caretIcon) {
  filter: invert(1);
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-sliderRightArrow),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-sliderRightArrow){
  right: -1rem;
}
.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-arrowRight) {
  right: -13px;
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-sliderLeftArrow),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
  left: -1rem;
}
.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-arrowLeft) {
  left: -13px;
}
.flexRowContent--main-header-mobile {
  align-items: center;
}
.flexRowContent--row-qtd {
  border-bottom: 1px solid #585858;
  padding: 20px 0;
}
.flexRow--footer-content-row {
  color: #585858;
  margin: 30px 0;
}
.flexRow--footer-bottom-row {
  color: #585858;
}

.flexRow--footer-bottom-row-copyright {
  background: #fff;
}

:global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-row-copyright){
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flexRow--footer-bottom-row-copyright :global(.vtex-rich-text-0-x-paragraph) {
  margin-bottom: 0px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-powered) :global(.vtex-rich-text-0-x-paragraph){
  font-weight: bold;
}

:global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-powered) :global(.vtex-store-components-3-x-imageElement){
  max-width: 75px;
}

:global(.vtex-rich-text-0-x-container--title-powered){
  align-items: center;
}

.flexRowContent--newsletter-row {
  padding: 1rem 0;
}

.flexRowContent--newsletter-row {
  align-items: center;
}

:global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-form){
  max-width: 42rem;
  color: #fff;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-inputGroup){
  background: #D8D7D5;
    border-radius: 30px;
    height: 50px;
    padding: 0;
    margin-top: 15px;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-input-prefix__group){
  border: 0;
  border-radius: 30px;
  height: 50px;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input){
  background: #D8D7D5;
    border: 0;
    height: 50px;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-button){
  background: #585858;
  border: 0;
  border-top-left-radius: 68px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 50px;
}
.flexRowContent--footer-bottom-row {
  padding: 1rem 0 3rem;
}

.flexRowContent--product-main-container, 
.flexRowContent--product-description, 
.flexRowContent--product-reviews,
.flexRowContent--buy-together,
.flexRowContent--pdp-view-buy,
.flexRowContent--menu-categorias,
.flexRowContent--questions-and-answers {
    background:#fff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top:0;
}
.flexRow--productPrice{
  margin-top: 25px;
}
.flexRowContent--pdp-view-buy{
  margin-bottom: 3rem;
}
.flexRowContent--product-description, .flexRowContent--product-reviews, .flexRowContent--questions-and-answers,
.flexRowContent--col-shelf-02 {
  flex-wrap: wrap;
}
.flexRowContent--product-description :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--product-reviews :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--questions-and-answers :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  padding-right: 0;
}
.flexRowContent--tabs-pdp {
  border-bottom: 2px solid #c4c4c4;
}

.flexRowContent--menu-categorias--bottom1--row .stretchChildrenWidth {
  width: 100% !important;
}

.flexRow--productSpecification {
  margin-bottom: 1rem;
}
.flexColChild--productSpecificationName {
  padding-bottom: 0;
}

.flexRow--productSpecification .stretchChildrenWidth {
  padding-bottom: 1rem;
}
.flexRowContent--menu-departamentos, .flexRowContent--menu-departamentos-title, .flexRowContent--results-row-desktop{
  flex-wrap: wrap;
}
.flexRowContent--menu-departamentos-title .flexCol--menu-departamentos-title-col{
  background:#fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
  flex-direction: row;
}

.flexCol--menu-departamentos-title-col :global(.vtex-rich-text-0-x-paragraph) {
  margin:0;
}

.flexRowContent--menu-departamentos-title .flexColChild--menu-departamentos-title-col, .flexRowContent--menu-categorias-title .stretchChildrenWidth {
  width: 50%;
}
.flexRowContent--menu-departamentos-title .flexCol--menu-departamentos-col{
  background:#fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 1rem 1rem;
}
.flexCol--menu-departamentos-col :global(.vtex-store-components-3-x-imageElementLink){
  padding: 5px 10px;
  display: block;
}
.flexCol--menu-departamentos-col :global(.vtex-store-components-3-x-imageElement), .flexRowContent--mini-banners :global(.vtex-store-components-3-x-imageElement){
  border-radius: 5px;
}

.flexRow--slider-brands {
  background-color: #fff;
}

.flexRow--benefits{
  background: #f9f9f9;
}

.flexRow--benefits .flexRowContent{
  margin-top: 0px;
}

.flexRow--benefits :global(.vtex-flex-layout-0-x-flexColChild ){
  width: 100%;
}

.flexRow--benefits :global(.vtex-rich-text-0-x-container){
  align-items: center;
}

.flexRow--row-informativo {
  background-color: #2e3b42;
}

.flexRowContent--slider-brands {
  margin-top:0;
}
.flexRow--benefits :global(.vtex-flex-layout-0-x-flexCol){
  display: contents;
  align-items: center;
}
.flexRow--benefits :global(.vtex-flex-layout-0-x-flexColChild){
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flexRow--benefits :global(.vtex-rich-text-0-x-paragraph){
  color: #20211f;
  font-size: 15px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 250px;
}
.flexRow--benefits :global(.vtex-rich-text-0-x-paragraph) :global(.vtex-rich-text-0-x-image){
  width: 130px;
}
.flexRow--tabs-pdp :global(.vtex-rich-text-0-x-paragraph) :global(.vtex-rich-text-0-x-image) {
  margin-right: 10px;
}
.flexRow--tabs-pdp :global(.vtex-rich-text-0-x-paragraph) {
  display: flex;
  align-items: center;
}
.flexRow--benefits :global(.vtex-rich-text-0-x-strong){
  margin-right: 5px;
  display: block;
  font-size:22px;
  font-weight: bold;
  text-transform: uppercase;
}

.flexColChild--col-bt-wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexRow--about-us-middle {
  background-color: #EB6A18;
}
.flexRow--about-us-middle :global(.vtex-rich-text-0-x-paragraph){
  font-size: 2rem;
}
.flexRow--form-contato :global(.vtex-styleguide-9-x-input) {
  border: .125rem solid #e3e4e6;
}
.flexRow--form-contato :global(.vtex-input) {
  margin-bottom: 20px;
  display: block;
}
.flexRow--form-contato :global(.vtex-input) :global(.vtex-input__label) {
  font-size: 1rem;
}
.flexRow--form-contato :global(.vtex-store-form-0-x-formSubmitContainer) {
  margin-top: 20px;
}

/* Section Newsletter */
.flexRow--section__newsletter{
  background: #e0e0e0;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-flexCol){
  display: contents;
  align-items: center;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  padding: 0.5rem 1rem;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-newsletter-1-x-emailInputContainer){
  margin-bottom: 5px;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-rich-text-0-x-headingLevel4){
  margin: 0px;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-rich-text-0-x-paragraph){
  margin-bottom: 0;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-store-newsletter-1-x-newsletterForm){
  width: 100%;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-store-newsletter-1-x-formSubmitContainer) .t-action--small{
  width: 100%;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child :global(.vtex-flex-layout-0-x-flexColChild):first-child{
  display: flex;
  width: 30%;
  align-items: center;
  padding-right: 1rem;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child :global(.vtex-flex-layout-0-x-flexColChild):last-child{
  display: flex;
  width: 70%;
  align-items: center;
  padding-left: 1rem;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child :global(.vtex-flex-layout-0-x-flexColChild):last-child :global(.vtex-rich-text-0-x-paragraph){
  font-size: 14px;
  line-height: 16px;
  color: gray;
}

.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child :global(.vtex-flex-layout-0-x-flexColChild):first-child{
  display: flex;
  width: 40%;
  align-items: center;
  padding-right: 1rem;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child :global(.vtex-flex-layout-0-x-flexColChild):last-child{
  display: flex;
  width: 60%;
  align-items: center;
  padding-left: 1rem;
}

/* Correções Mobile */
.flexCol--col-selling-prices-list{
  flex-direction: row;
  align-items: center;
}
.flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-listPrice){
  margin-right: 20px;
  font-size: 1.5rem;
}
.flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-sellingPrice) {
  font-size: 2rem;
}
:global(.vtex-sticky-layout-0-x-wrapper--stuck) .flexRow--search-bar-row-mobile{
  display: none;
}
.flexRow--search-bar-row-mobile{
  background-color: #fff;
}
:global(.vtex-slider-layout-0-x-paginationDotsContainer){
  bottom: 15px;
}
.flexRowContent--pdp-view-buy :global(.vtex-slider-0-x-dotsContainer){
  display: none;
}
.flexRowContent :global(.vtex-slider-layout-0-x-paginationDotsContainer){
  bottom: -15px;
}
@media (max-width: 1100px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-row) :global(.vtex-flex-layout-0-x-flexColChild){
    text-align: center;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-row-copyright) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 100% !important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--footer-bottom-row-copyright) :global(.vtex-rich-text-0-x-paragraph){
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.8em;
  }
  :global(.vtex-rich-text-0-x-container--title-powered) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
    display: none;
  }
  
}
@media only screen and (max-width: 1024px) {
  .flexRowContent--menu-categorias-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media only screen and (max-width: 640px) {
  .flexRowContent--menu-categorias-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .flexCol--menu-categorias-container :global(.vtex-rich-text-0-x-headingLevel2) {
    font-size:1.5rem;
  }

  .flexCol--grid-shelf-spotlight {
    margin-bottom:1rem;
  }
  .flexRowContent--mini-banners {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .flexRowContent--mini-banners :global(.vtex-flex-layout-0-x-flexCol){
    padding-left: 3px;
    padding-right: 3px;
  }
  .flexCol--grid-shelf-spotlight :global(.vtex-flex-layout-0-x-flexRowContent) {
    padding-top: 0;
  }
  .flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-gallery) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: .5rem;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--grid-shelf-grid) :global(.vtex-product-summary-2-x-image){
    max-width: 150px!important;
    height: 150px!important;
  }
  .flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-listPrice){
    margin-right: 10px;
    font-size: .9rem;
  }
  .flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-sellingPrice) {
    font-size: 1rem;
  }
  .flexRowContent--results-row-desktop :global(.vtex-search-result-3-x-gallery--multiplegallery) :global(.vtex-product-summary-2-x-image){
    max-width: 150px!important;
    height: 130px!important;
  }
  .flexCol--stock-pdp{
    padding-top: 5px;
  }
  :global(.vtex-flex-layout-0-x-flexRow--benefits) :global(.vtex-flex-layout-0-x-flexRowContent){
    display: flex;
    align-items: center;
  }
}

.flexRowContent--main-header-mobile {
  background: #fff;
}
.flexRowContent--product-seals .flexCol {
  flex-direction: row;
  gap:0.5rem;
}
.flexRow--footer-contato-row{
  background: #D8D7D5;
  padding: 15px 0;
}
.flexRowContent--footer-contato-row, .flexRowContent--footer-row-horario, .flexRowContent--footer-row-whatsapp,.flexRowContent--footer-row-email{
  align-items: center;
}
.flexRowContent--footer-row-whatsapp :global(.vtex-store-link-0-x-link){
  text-decoration: none;
  color: #1C3664;
  font-weight: 500;
  font-size: 30px;
}
.flexRowContent--footer-contato-row :global(.vtex-rich-text-0-x-paragraph){margin: 0;}
.flexColChild--btn-comprar-prod :global(.vtex-button){
  border-radius: 10px;
  margin-top: 10px;
  height: 50px;
  color: #fff;
}
.flexColChild--btn-comprar-prod :global(.vtex-button):disabled {
  color: #000;
}

:global(.vtex-flex-layout-0-x-flexRow--footer-content-row) :global(.vtex-flex-layout-0-x-flexRowContent){
  justify-content: space-between !important;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRow--footer-content-row) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: auto !important;
  }
}

@media (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRow--footer-content-row) :global(.vtex-flex-layout-0-x-flexRowContent) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 100% !important;
  }
  .flexRowContent--footer-bottom-powered :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
    display: none;
  }
}
.flexColChild--footer-copyright :global(.vtex-rich-text-0-x-paragraph){
  font-size: 12px;
}
.flexRowContent--footer-content-row .flexColChild{
  height: auto !important;
}