.childrenContainer--whatsappLinkFixed{
    position: fixed;
    bottom: 80px;
    right: 10px;
    z-index: 99999;
}
.link--link_trabalhe_conosco{
    color: #000;
    text-decoration: none;
}
.link--link_trabalhe_conosco:hover{
    text-decoration: underline;
}