.formSubmitContainer :global(.vtex-button){
    width:100%;
    min-height: 2rem;
}
@media only screen and (max-width: 640px) {
    .formSubmitContainer :global(.vtex-button){
        margin-top: 10px;
    }
}