.groupName {
    display: none;
}

.specificationName {
    color: #000;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding-bottom: 1rem;
    position: relative;
}

.specificationValue {
    line-height: 1.3rem;
}