:global(.vtex-minicart-2-x-cartIcon) {
    color: #1C3664;
}
:global(.vtex-login-2-x-profileIcon){
    width: 55px;
    height: 55px;
}
:global(.vtex-minicart-2-x-cartIcon){
    width: 60px;
    height: 60px;
}
:global(.vtex-store-components-3-x-searchIcon){
    width: 55px;
    height: 30px;
}